<!-- Adapted from https://www.codicode.com/art/how_to_draw_on_a_html5_canvas_with_a_mouse.aspx--> 
<html>
<head></head>
<div align="center"><h1>Draw the number you would like to predict</h1></div>
<body onload="InitThis()">
    <script src= "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> type="text/javascript">
    </script>
    <script type="text/javascript" src="static/Draw.js"></script>
    <div align="center">
        <canvas id="myCanvas" width="300" height="500" style="background: black"></canvas>
        <br /><br />

        Line width : <select id="selWidth">
            <option value="8" selected="selected">8</option>
        </select>
        Color : <select id="selColor">
            <option value="white" selected="selected">white</option>
        </select>
    </div>
    <br>
    <br>
    <div align="center">
    <button onclick="clearArea();return false;">Clear Area</button>
    <button onclick="predict()">predict</button>
    </div>
    <script>
        function predict() {
     //directed to take the image 
     var canvas = document.getElementById("myCanvas");
     var dataURL = canvas.toDataURL();
     console.log(dataURL);

     // Using Ajax post method for the image
     $.ajax({
         type: 'POST',
         url: '/predict',
         data: {
             imgBase64: dataURL
         }
     }).done(function (data) {
         // Logging to the console to confirm 
         console.log('SENT');
         // sending predicted number to the console
         console.log(data);
         $("#NewpredictedNumber").empty().append(data);
     });
 };
        </script>
</body>
</html>